body {
    font-size: 16px;
    font-family: monospace;
    background-color: black;
}

h1, h2, h3 {
    color: white;
}
.highlight {
    text-transform: uppercase;
    background-color: yellow;
}
.gray{
    color:gray;
}